/*
#encabezado {
    color: blueviolet;
    font-weight: bold;
}
#tituloPrincipal {
    color: aquamarine;
    font-size: 50px;
}
.parrafosCentrados {
    text-align: center;
    font-weight: bold;
    color: fuchsia;
}
.textoVerde{
    color: greenyellow;
}

p, h1, span{
    color: blue;
}

a:link{
    background-color: green;
    color: white;
}
a:visited{
    background-color: violet;
    color: white;
}

a:hover {
    background-color: darkblue;
    color: white;
}

a:active {
    background-color: red;
    color: white;
}

p:nth-child(odd){
    background-color: darksalmon;
}
p:nth-child(even){
    background-color: cadetblue;
}*/

/*
*********************
*/

#barralateral{
    position: absolute;
    height: 81%;
    top: 12%;
    left: 0;
    width: 20%;
    background-color: burlywood;
    padding: 10px;
}

#contenido{
    position: absolute;
    height: 81%;
    top: 12%;
    left: 20%;
    width: 80%;  
    background-color: beige;
    padding: 10px;
}

#piePagina{
    position: absolute;
    height: 7%;
    bottom: 0;
    left: 0%;
    width: 100%;  
    background-color: olive;
    text-align: center;
    padding-top: 25px;
}