<html>
    <head>
        <title>Tavola | Home</title>
       <link rel="stylesheet" type="text/css" href="../styles//nav-bar.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
<body>
    <!-- Contenido de tu página -->
    <nav class="navbar">
        <img src="../images/FondoBlancoSF.png" alt="Image Logo">
        <nav class="container-search">
            <a href="/otra-pagina">Inicio</a>
            <a href="/otra-pagina">Sobre Nosotros</a>
            <a href="/otra-pagina">Menu</a>
            <a href="/otra-pagina">Reserva</a>
            <a href="/otra-pagina">Perfil</a>
            <a href="/otra-pagina">Reseñas<aside></aside></a>
        </nav>
        <!-- Contenido del Navbar -->
      <div class="container-logo">
        <div class="vertical-line"></div>
        <div>
            <a href="/pagina-de-inicio">
                <img src="../images/facebook.jpg" alt="Facebook Logo" class="logo">
            </a>
            <a href="/pagina-de-inicio">
                <img src="../images/waze.jpg" alt="Waze Logo" class="logo">
            </a>
            <a href="/pagina-de-inicio">
                <img src="../images//instagram.jpg" alt="Instagram Logo" class="logo">
            </a>
        </div>
      </div>
    </nav>
    <div class="horizontal-line"></div>
    <div>
        <!-- Contenido del cuerpo de la página -->
    </div>
</body>
</html>
